@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a class="btn btn-outline-primary mt-3" id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

