.card:hover .card-layer[b-agme67h5o8] {
    display: flex;
}

.card-layer[b-agme67h5o8] {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}
