@model IEnumerable<AnimeFlix.App.Areas.Dashboard.Models.AnimeViewModel>


<div class="container-fluid d-flex">
    @foreach (var item in Model)
    {
        <div class="card ms-3 me-3" style="width: 18rem;">
            <img src="@item.Imagem" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-dark">@item.Name</p>
            </div>
        </div>
    }

</div>