@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Sua conta contém dados pessoais que você nos forneceu. Essa página te permite que você baixe ou exclua os dados.</p>
        <p>
            <strong>Deletar esses dados vai remover sua conta permanentemente, e não poderá ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary w-50" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-50 mt-2">Excluir</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
