:root {
    --dark: #111113;
    --dark-light: #212121;
    --gray: #F5EFEF;
    --white: #FFFFFF;
    --primary: #FCCA50;
    --primary-dark: #FCCA50;
    --primary-darker: #f5c13e;
}

html, body {
  background-color: var(--dark);
  color: var(--white);
}

/* Custom Text Colors */
.tc-primary {
    color: var(--primary);
}
/* END Custom Text Colors */


/* Custom Background Colors */
.bgc-dark {
    background-color: var(--dark);
}

.bgc-primary {
    background-color: var(--primary);
}
/* END Custom Background Colors */


/* Custom Buttons */
.button-primary {
    background-color: var(--primary-darker);
    color: var(--dark);
    border: none;
}

.button-primary:hover {
    opacity: 0.8;
}

.btn-register {
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.btn-register:hover {
    opacity: 0.8;
}
/* END Custom Buttons */


.logo {
    font-family: "Righteous";
    font-size: 36px;
    text-decoration: none;
    color: var(--primary);
}

.logo:hover {
    color: var(--primary);
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid var(--primary);
}

.cursor-pointer {
    cursor: pointer
}

/* Feather Icons Size */
.feather-16 {
    width: 16px;
    height: 16px;
}

.feather-24 {
    width: 24px;
    height: 24px;
}

.feather-32 {
    width: 32px;
    height: 32px;
}

.feather-40 {
    width: 40px;
    height: 40px;
}

.feather-60 {
    width: 60px;
    height: 60px;
}

.feather-96 {
    width: 96px;
    height: 96px;
}
/* END Feather icons size */


/* Dropdown favoritos */
.dropdown-favorites {
    width: 300px;
    min-height: 400px;
}

.container-dropdown {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}
/* END Dropdown favoritos */


/* Login */ 
.identity-form input {
    background-color: var(--dark-light);
    border: none;
    color: var(--gray);
}

.identity-form input:focus {
    background-color: var(--dark-light);
    border: none;
    color: var(--gray);
}

.identity-form input:disabled {
    background-color: var(--dark-light);
    border: none;
    color: var(--gray);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid var(--primary-dark);
    -webkit-text-fill-color: var(--gray);
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-light) inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* END Login */

/* Manage Tab */
.manage-nav .active {
    background-color: var(--dark-light)!important;
}

.manage-nav .nav-link {
    color: var(--gray)!important;
}
/* END Manage Tab */